@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* { 
	box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    background: #FAF9F6;
	color: #000;
    margin: 0;
    padding: 0;
}
.main-body {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 16px 32px;
    background-color: #f4f0e5;

}

#the-time, .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 68px;
}
button {
    background-color: blanchedalmond;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    border-radius: 25%;
    height: 200px;
    width: 300px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
button:hover {
    background-color: rgb(242, 229, 205);
}

button.fade {
    opacity: 0;
    button.style.display = "none";
    button.style.visibility = "hidden";

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 16px 0px;
    background-color: #f4f0e5;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #f4f0e5;
}