@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* { 
	box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EDEBED url('222.png');
}
html, body {
    height: 100%;
    width: 100%;
    background: #FAF9F6;
	color: #000;
}


.main-body {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 50px 40px;
    background-image: linear-gradient(rgb(0,0,0,.7)
    , rgb(0,0,0,0));



}
a:hover .dissapeared{
    opacity: 1;
}

.dissapeared {
    opacity: 0;
}



h1 {
    color: white;
    font-weight: 900;
    font-size: 70px;
    font-weight: 700;
    text-shadow: .07em .07em 0 hsl(0, 100%, 50%);


}


#the-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

h2 {
    font-size: 140px;
    font-size: 18vw;
    font-weight: 700;
    margin: 0;
    color: white;
    padding: 16px;
    border-radius: 30%;
    text-shadow: .06em .06em 0 hsl(0, 100%, 50%);



}
.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 16px 0px;
    text-shadow: none;
   
}


a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-shadow: .08em .08em 0 hsl(0, 100%, 50%);



}
a:active, h1:active {
    opacity: 0.7;
}
ul {
    display: flex;
    gap: 30px;
    list-style-type: none;

}

.content {
    z-index: 20;
}
p {
    padding-bottom: 4px;
}
p:hover {
    color: aliceblue;
}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('222.png') no-repeat center center/cover;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("overlay-3.jpeg");
    background-size: cover;

    opacity: 28%;

}

  .hover-underline-animation {
    display: inline-block;
    position: relative;

  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    box-shadow: 2px 2px hsl(0, 87%, 48%);
    ;

  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  p.hover-underline-animation:after {
    height: 1.5px;
  }



@media (max-width: 1300px) {
    a {
        font-size: 26px;
}
@media (max-width: 1100px) {
    a {
        font-size: 20px;
}
@media (max-width: 952px) {
    .header {
        flex-direction: column;
        padding-top: 15px;
    }
    h2 {
      font-size: 70px;
      font-size: 18vw;
    }
    a {
        font-size: 18px;
        font-size: 3.5vw;

    }
    ul {
        gap: 18px;
    } 
}

}
@media (max-width: 400px) {
    h1 {
        font-size: 60px;
        font-size: 16vw;
    }
    a {
        font-size: 16px;
        font-size: 4vw;
    }
    ul {
        gap: 15px;
    } 

}